<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.marcusrunge.MyDEFCON" android:versionCode="234" android:versionName="1.4.0" android:windowSoftInputMode="adjustPan">
	<uses-sdk android:minSdkVersion="22" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<!-- Apex -->
	<uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />
	<!-- Default -->
	<uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
	<uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
	<!-- HTC -->
	<uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
	<uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
	<!-- Samsung -->
	<uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
	<uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
	<!-- Sony -->
	<uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
	<uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />
	<uses-permission android:name="android.permission.BIND_APPWIDGET" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<application android:label="@string/app_name" android:icon="@drawable/Icon" android:theme="@style/Theme.MyTheme">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="com.marcusrunge.MyDEFCON.provider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
		</provider>
	</application>
	<receiver android:name="MyDefconWidget">
		<intent-filter>
			<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			<action android:name="android.appwidget.action.ACTION_APPWIDGET_OPTIONS_CHANGED" />
			<action android:name="com.marcusrunge.MyDEFCON.DEFCON_UPDATE" />
		</intent-filter>
		<meta-data android:name="android.appwidget.provider" android:resource="@xml/mydefconwidgetprovider" />
	</receiver>
</manifest>